---
title: Projects
layout: default
---
<body>

	{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Projects -->
					<section>
						<header class="major">
							<h2>Projects</h2>
						</header>
						{% for project in site.projects offset: 0 limit: 6 %}
						<div class="row">
							<div class="10u -1u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}{{ project.featured }}" alt="" /></a>
									<header>
										<h3>{{ project.title }}</h3>
									</header>
									{{ project.excerpt }}
									<footer>
										<ul class="actions">
											<li><a href="{{ site.baseurl }}{{ project.url }}" class="button icon fa-file-text">Continue Reading</a></li>
										</ul>
									</footer>
								</section>
							</div>
						</div>
						{% endfor %}
					</section>

			</div>
		</div>
	</div>
</div>