<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">Growing Data Foundation</a></h1>
						<a href="/"><img src="{{ site.baseurl }}/assets/images/gdf_logo_500px.png" height="100" width="213" alt="Growing Data Foundation" /></a>


					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li>
									<li><a href="{{ site.baseurl }}/">Welcome</a></li>
									<li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
									<li><a href="{{ site.baseurl }}/articles/">Articles</a></li>
									<li><a href="{{ site.baseurl }}/#contact">Contact</a></li>	
								</li>

							</ul>
						</nav>

					<!-- Banner -->
					
						<section id="banner">

							&#160;
<!-- Hiding until needed
							<header>

								<h2>Will we see you at</h2>
								<p>Unleashed/GovHack?</p>
							</header>
-->		
						</section>
	
				</div>
			</div>
